{{!-- <h1>{{vTitre}}</h1>
Nombre de Salaires : {{nombreSalaires}} --}}

<!DOCTYPE html>
<script src="https://d3js.org/d3.v4.js"></script>
<script type="module" src="./static/js/salaires.js"></script>
<script src="/socket.io/socket.io.js"></script>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Tableaux de bord NodeJS et D3JS</title>
    <style>
        .barre {
            fill: orange;
        }
    </style>
</head>

<body>
    <h1>Bienvenue sur le dashboard</h1>>
    <svg width="600" height="500"></svg>
</body>

</html>